@page "/agregarTitular" 
@inject NavigationManager Navegador;
@inject AgregarTitularUseCase AgregarTitularUseCase

<div>
    <h1>Agrega un titular</h1>
    <span>Nombre:</span>
    <input placeholder="Nombre" @bind="_titular.Nombre" class="form-control">
    <span>Apellido:</span>
    <input placeholder="Apellido" @bind="_titular.Apellido" class="form-control">
    <span>DNI:</span>
    <input placeholder="DNI" @bind="_titular.Dni" class="form-control">
    <span>Telefono:</span>
    <input placeholder="Telefono" @bind="_titular.Telefono" class="form-control">
    <span>Direccion:</span>
    <input placeholder="Direccion" @bind="_titular.Direccion" class="form-control">
    <span>Email:</span>
    <input placeholder="Email" @bind="_titular.Email" class="form-control"> 
    <button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>
</div>

<DialogoConfirmacion @ref=dialogo Mensaje="Hubo un error al agregar el Titular"  />


@code{
    Titular _titular = new Titular();
    DialogoConfirmacion dialogo = null!;
    void Aceptar()
    {   
        try{
            AgregarTitularUseCase.Ejecutar(_titular);
            _titular = new Titular();
            Navegador.NavigateTo("listadoTitulares");
        }catch{
            dialogo.Mostrar();
        }
       
    }

}