@page "/agregarVehiculo" 
@inject NavigationManager Navegador;
@inject AgregarVehiculoUseCase AgregarVehiculoUseCase


<div>
    <h1>Agrega un vehiculo</h1>
    <span>Dominio:</span>
    <input placeholder="Dominio" @bind="_vehiculo.Dominio" class="form-control">
    <span>Marca:</span>
    <input placeholder="Marca" @bind="_vehiculo.Marca" class="form-control">
    <span>Año:</span>
    <input placeholder="Anio" @bind="_vehiculo.Anio" class="form-control">
    <span>Id del titular:</span>
    <input placeholder="IdTitular" @bind="_vehiculo.IdTitular" class="form-control">
    @* <input placeholder="Apellido" @bind="_titular.Direccion" class="form-control">
    <input placeholder="Apellido" @bind="_titular.Email" class="form-control"> *@
    <button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>
</div>
<DialogoConfirmacion @ref=dialogo Mensaje="Hubo un error al agregar el Vehiculo"  />

@code{
    Vehiculo _vehiculo = new Vehiculo();
    DialogoConfirmacion dialogo = null!;
    void Aceptar()
    {
        try{
            AgregarVehiculoUseCase.Ejecutar(_vehiculo);
            _vehiculo = new Vehiculo();
            Navegador.NavigateTo("listadoVehiculos");
        }catch{
            dialogo.Mostrar();
        }
    }

}