@page "/agregarVehiculo" 
@inject NavigationManager Navegador;
@inject AgregarVehiculoUseCase AgregarVehiculoUseCase


<div class=container>
    <h1>Agregar un Vehículo</h1>
    <span>Dominio:</span>
    <input placeholder="Dominio" @bind="_vehiculo.Dominio" class="form-control">
    <span>Marca:</span>
    <input placeholder="Marca" @bind="_vehiculo.Marca" class="form-control">
    <span>Año:</span>
    <input placeholder="Anio" @bind="_vehiculo.Anio" class="form-control">
    <span>Id del Titular:</span>
    <input placeholder="IdTitular" @bind="_vehiculo.TitularId" class="form-control">
    <button class=button @onclick="Aceptar">Aceptar</button>
</div>
<DialogoConfirmacion @ref=dialogo/>

@code{
    Vehiculo _vehiculo = new Vehiculo();
    DialogoConfirmacion dialogo = null!;
    void Aceptar()
    {
        try{
            AgregarVehiculoUseCase.Ejecutar(_vehiculo);
            _vehiculo = new Vehiculo();
            Navegador.NavigateTo("listadoVehiculos");
        }catch (Exception e){
            dialogo.Mensaje = "Error: " + e.Message;
            dialogo.Mostrar();
        }
    }

}