@page "/agregarSiniestro" 
@inject NavigationManager Navegador;
@inject AgregarSiniestroUseCase AgregarSiniestroUseCase

<div class=container>
    <h1>Agregar un Siniestro</h1>
    <span>Id Poliza:</span>
    <input placeholder="Id Poliza" @bind="_siniestro.PolizaId" class="form-control">
    <span>Fecha de ingreso:</span>
    <input placeholder="Fecha de ingreso" @bind="_siniestro.FechaIngreso" class="form-control">
    <span>Fecha de ocurrencia:</span>
    <input placeholder="Fecha de ocurrencia" @bind="_siniestro.FechaOcurrencia" class="form-control">
    <span>Direccion:</span>
    <input placeholder="Direccion" @bind="_siniestro.Direccion" class="form-control">
    <span>Descripcion:</span>
    <input placeholder="Descripcion" @bind="_siniestro.Descripcion" class="form-control"> 
    <button class=button @onclick="Aceptar">Aceptar</button>
</div>

<DialogoConfirmacion @ref=dialogo/>


@code{
    Siniestro _siniestro = new Siniestro();
    DialogoConfirmacion dialogo = null!;
    void Aceptar()
    {   
        try{
            AgregarSiniestroUseCase.Ejecutar(_siniestro);
            _siniestro = new Siniestro();
            Navegador.NavigateTo("listadoSiniestros");
        }catch (Exception e){
            dialogo.Mensaje = "Error: " + e.Message;
            dialogo.Mostrar();
        }       
    }
}