@page "/tercero/{Id:int?}"
@inject ObtenerTerceroUseCase ObtenerTerceroUseCase
@inject ModificarTerceroUseCase ModificarTerceroUseCase
@inject NavigationManager Navegador;
@inject AgregarTerceroUseCase AgregarTerceroUseCase

@if (_esNuevoTercero)
{
    <h3>Agregando un nuevo Tercero</h3>
}
else
{
    <h3>Modificando el Tercero "@_tercero.Id"</h3>
}

<div>
    <span>Nombre:</span>
    <input placeholder="Nombre" @bind="_tercero.Nombre" class="form-control">
    <span>Apellido:</span>
    <input placeholder="Apellido" @bind="_tercero.Apellido" class="form-control">
    <span>DNI:</span>
    <input placeholder="DNI" @bind="_tercero.Dni" class="form-control">
    <span>Teléfono:</span>
    <input placeholder="Telefono" @bind="_tercero.Telefono" class="form-control">
    <span>Aseguradora:</span>
    <input placeholder="Aseguradora" @bind="_tercero.Aseguradora" class="form-control">
    <span>Id Siniestro:</span>
    <input placeholder="Id Siniestro" @bind="_tercero.SiniestroId" class="form-control"> 
    <button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>
</div>

<DialogoConfirmacion @ref=dialogo/>

@code {
    Tercero _tercero = new Tercero();
    DialogoConfirmacion dialogo = null!;
    [Parameter] public int? Id { get; set; }
    bool _esNuevoTercero = true;
    protected override void OnParametersSet()
    {
        if (Id != null)
        {
            var t_hallado = ObtenerTerceroUseCase.Ejecutar(Id.Value);
            if (t_hallado != null)
            {
                _tercero = t_hallado;
                _esNuevoTercero = false;
            }
        }
    }
    void Aceptar()
    {
        try
        {
            if (_esNuevoTercero)
            {
                AgregarTerceroUseCase.Ejecutar(_tercero);
            }
            else
            {
                ModificarTerceroUseCase.Ejecutar(_tercero);
            }
            _tercero = new Tercero();
            Navegador.NavigateTo("listadoTerceros");
        }
        catch (Exception e){
            dialogo.Mensaje = "Error: " + e.Message;
            dialogo.Mostrar();
        }
    }
}